.hidden {
    display: none;
}

#game {
    position: relative;
}
#gameover {
    position: absolute;
    top: 30%;
    left: 40%;
}
#score_text {
    position: absolute;
}
#startgame {
    position: absolute;
}